/*
font-family: 'Teko', sans-serif;
https://fonts.google.com/specimen/Teko

font-family: 'Righteous', cursive;
https://fonts.google.com/specimen/Righteous

font-family: 'Permanent Marker', cursive;
https://fonts.google.com/specimen/Permanent+Marker

font-family: 'Alfa Slab One', cursive;
https://fonts.google.com/specimen/Alfa+Slab+One

font-family: 'Luckiest Guy', cursive;
https://fonts.google.com/specimen/Luckiest+Guy

font-family: 'Passion One', cursive;
https://fonts.google.com/specimen/Passion+One

font-family: 'Economica', sans-serif;
https://fonts.google.com/specimen/Economica
*/

h1, h2, h3, h4 {
   font-family: 'Economica', sans-serif;
}

p {
   font-family: Arial, Helvetica, sans-serif;
}

c-header a,
c-navigation a {
    color: black;
    font-size: 18px
}

c-header a:hover,
c-navigation a:hover {
    color: black;
    font-size: 18px
}

c-footer a {
    color: white; 
}

c-footer a:hover {
    color: white;
}
