body {
    background-color: #000000;
}


.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
  }
.logotype {
    flex:1;
    width: 45vw;
  
}

@media (min-width: 576px) { 
    .logotype {
        flex:1;
        width: 40vw;
      
    }
}
@media (min-width: 768px) { 
    .logotype {
        flex:1;
        width: 35vw;
      
    }
 }
 @media (min-width: 992px) { 
    .logotype {
        flex:1;
        width: 30vw;
      
    }
 }
 
 @media (min-width: 1200px) { 
    .logotype {
        flex:1;
        width: 25vw;
      
    }
  }