body {
    background-color: #000000;
}


.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
  }
.logotype {
    flex:1;
    width: 35vw;
  
}